* {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

body {
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    
}

p {

    margin: 0;

}

